<main>

  <% if Mastermindgame.gametype == "none" %>
    <h1 class="title">Mastermind</h1>
  <% elsif Mastermindgame.gametype == "b" %>
    <h1 class="title">Mastermind: Codebreaker</h1>
  <% elsif Mastermindgame.gametype == "m" %>
    <h1 class="title">Mastermind: Codemaker</h1>
  <% end %>

  <% if Mastermindgame.gametype == "none" %>
    <div class="game_select">
      <form action="/mastermind" method="POST">
        <button type="submit" name="gametype" value="b">Codebreaker</button>
        <button type="submit" name="gametype" value="m">Codemaker</button>
      </form>
    </div>
  <% end %>


<!--           CODE BREAKER           -->

  <% if Mastermindgame.gametype == "b" %>

    <div class="board">
      <table class="code_table">
        <tr>
          <% if Mastermindgame.win == true || Mastermindgame.defeat == true %>
            <td class=<%= Mastermindgame.code[0] %>></td>
            <td class=<%= Mastermindgame.code[1] %>></td>
            <td class=<%= Mastermindgame.code[2] %>></td>
            <td class=<%= Mastermindgame.code[3] %>></td>
          <% else %>
            <td>?</td><td>?</td><td>?</td><td>?</td>
          <% end %>
        </tr>
      </table>

      <table class="guess_table">
        <% Mastermindgame.guesses.each_with_index do |guess, index| %>
          <tr>
            <td class="round_counter"><%= index + 1 %></td>
            <td class=<%= guess[0] %>></td>
            <td class=<%= guess[1] %>></td>
            <td class=<%= guess[2] %>></td>
            <td class=<%= guess[3] %>></td>
          </tr>
          <tr class="spacer">
          </tr>
        <% end %>
        <% (12 - Mastermindgame.guesses.length).times do |i| %>
          <tr>
            <td class="round_counter"><%= Mastermindgame.guesses.length + i + 1 %></td>
            <td></td><td></td><td></td><td></td>
          </tr>
          <tr class="spacer">
          </tr>
        <% end %>
      </table>

      <table class="hint_table">
        <% Mastermindgame.guesses.each_with_index do |guess, index| %>
          <tr>
            <td class=<%= Mastermindgame.hints[index][0] %>></td>
            <td class=<%= Mastermindgame.hints[index][1] %>></td>
          </tr>
          <tr>
            <td class=<%= Mastermindgame.hints[index][2] %>></td>
            <td class=<%= Mastermindgame.hints[index][3] %>></td>
          </tr>
          <tr class="spacer">
          </tr>
        <% end %>
        <% (12 - Mastermindgame.guesses.length).times do |i| %>
          <tr>
            <td></td><td></td>
          </tr>
          <tr>
            <td></td><td></td>
          </tr>
          <tr class="spacer">
          </tr>
        <% end %>
      </table>
    </div>

    <div class="interactive">
      <% if Mastermindgame.win == true %>
        <h3>Code found</h3>
        <h2>YOU WIN!</h2>
      <% elsif Mastermindgame.defeat == true %>
        <h3>Code not found</h3>
        <h2>YOU LOOSE!</h2>
      <% else %>
      <h3>Guess the code</h3>
      <form id="colorpicker" action="/mastermind" method="POST">
        <select name="color1" required>
          <option disabled="disabled" selected="selected">Color</option>
          <% Mastermindgame.colors.each do |i| %>
            <option><%= i %></option>
          <% end %>
        </select>
        <select name="color2" required>
          <option disabled="disabled" selected="selected">Color</option>
          <% Mastermindgame.colors.each do |i| %>
            <option><%= i %></option>
          <% end %>
        </select>
        <select name="color3" required>
          <option disabled="disabled" selected="selected">Color</option>
          <% Mastermindgame.colors.each do |i| %>
            <option><%= i %></option>
          <% end %>
        </select>
        <select name="color4" required>
          <option disabled="disabled" selected="selected">Color</option>
          <% Mastermindgame.colors.each do |i| %>
            <option><%= i %></option>
          <% end %>
        </select>
        <button type="submit">Enter code</button>
      </form>
      <% end %>
    </div>

  <% end %>


<!--           CODE MAKER           -->

  <% if Mastermindgame.gametype == "m" %>

    <% if Mastermindgame.code == [] %>

    <div class="code_setter">
        <h3>Set a code</h3>

        <form id="colorpicker" action="/mastermind" method="POST">
          <select name="color1" required>
            <option disabled="disabled" selected="selected">Color</option>
            <% Mastermindgame.colors.each do |i| %>
              <option><%= i %></option>
            <% end %>
          </select>
          <select name="color2" required>
            <option disabled="disabled" selected="selected">Color</option>
            <% Mastermindgame.colors.each do |i| %>
              <option><%= i %></option>
            <% end %>
          </select>
          <select name="color3" required>
            <option disabled="disabled" selected="selected">Color</option>
            <% Mastermindgame.colors.each do |i| %>
              <option><%= i %></option>
            <% end %>
          </select>
          <select name="color4" required>
            <option disabled="disabled" selected="selected">Color</option>
            <% Mastermindgame.colors.each do |i| %>
              <option><%= i %></option>
            <% end %>
          </select>
          <button type="submit">Enter code</button>
        </form>
      </div>

    <% else %>

      <div class="board">
        <table class="code_table">
          <tr>
            <td class=<%= Mastermindgame.code[0] %>></td>
            <td class=<%= Mastermindgame.code[1] %>></td>
            <td class=<%= Mastermindgame.code[2] %>></td>
            <td class=<%= Mastermindgame.code[3] %>></td>
          </tr>
        </table>

        <table class="guess_table">
          <% Mastermindgame.guesses.each_with_index do |guess, index| %>
            <tr>
              <td class="round_counter"><%= index + 1 %></td>
              <td class=<%= guess[0] %>></td>
              <td class=<%= guess[1] %>></td>
              <td class=<%= guess[2] %>></td>
              <td class=<%= guess[3] %>></td>
            </tr>
            <tr class="spacer">
            </tr>
          <% end %>
          <% (12 - Mastermindgame.guesses.length).times do |i| %>
            <tr>
              <td class="round_counter"><%= Mastermindgame.guesses.length + i + 1 %></td>
              <td></td><td></td><td></td><td></td>
            </tr>
            <tr class="spacer">
            </tr>
          <% end %>
        </table>

        <table class="hint_table">
          <% Mastermindgame.guesses.each_with_index do |guess, index| %>
            <tr>
              <td class=<%= Mastermindgame.hints[index][0] %>></td>
              <td class=<%= Mastermindgame.hints[index][1] %>></td>
            </tr>
            <tr>
              <td class=<%= Mastermindgame.hints[index][2] %>></td>
              <td class=<%= Mastermindgame.hints[index][3] %>></td>
            </tr>
            <tr class="spacer">
            </tr>
          <% end %>
          <% (12 - Mastermindgame.guesses.length).times do |i| %>
            <tr>
              <td></td><td></td>
            </tr>
            <tr>
              <td></td><td></td>
            </tr>
            <tr class="spacer">
            </tr>
          <% end %>
        </table>
      </div>

      <div class="interactive">
        <% if Mastermindgame.win == true %>
          <h3>Code found</h3>
          <h2>COMPUTER WINS!</h2>
        <% elsif Mastermindgame.defeat == true %>
          <h3>Code not found</h3>
          <h2>COMPUTER LOSES!</h2>
        <% else %>
          <h3>Guess the code</h3>
          <form action="/mastermind" method="POST">
            <button type="submit" name="airun" value="true">Run AI round</button>
          </form>
        <% end %>
      </div>

    <% end %>

  <% end %>

  <% if Mastermindgame.gametype == "b" || Mastermindgame.gametype == "m" && Mastermindgame.code != [] %>
    <form id="newgame" action="/mastermind" method="POST">
      <button type="submit" name="reset" value="true">New Game</button>
    </form>
  <% end %>


</main>
